.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.toast-header .btn-close{
  display: none;
}

.bgGrad {
  background: url("../images/gradient.jpg") center bottom no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.gradHighlight {
  position: relative;
  z-index: 1;
}

.gradHighlight::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: radial-gradient(
      circle at 100% 100%,
      rgba(216, 144, 142, 0.5),
      rgba(195, 119, 102, 0) 75%
    ),
    radial-gradient(
      circle at 100% 0,
      rgba(242, 189, 182, 0.1),
      rgba(181, 0, 16, 0.1)
    ),
    linear-gradient(125deg, #090e3a, #02666d, #000000);
  opacity: 0.4;
  filter: saturate(1.5) brightness(1.1);
  border-radius: 10px;
}

.App-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
